body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body
{
  padding-bottom: 50px;
  padding-top: 100px;
}

button
{
    background-color: #777;
    border: none;
    color: white;
    outline: none;
    padding: 10px;
}

button:disabled
{
    background-color: #aaa;
}

.row 
{
    margin: 10px;
    align-content: center;
}

.col
{
    margin: auto;
    text-align: center;
}

.col input
{
    padding: 5px;
    width: 30%;
}

.productListHeader .col
{
    font-weight: bold;
}

nav
{
    background-color: #555;
}